{% extends "base.html" %} 
{% block content %}

<h1>Aplicacion para busqueda de productos</h1>
<br />
<hr />
<ul>
  <li>
    <a href="">Inicio</a>
  </li>
  <li>
    <a href="">Listado de producto creados</a>
  </li>
</ul>
<form action="{{ url_for('home') }}" method="get">
  <label for="product-code">Ingresa codigo del producto</label>
  <input type="text" id="product-code" name="product-code" />
  <input type="submit" value="Buscar" />
</form>
<br />
<hr />




{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%}
<div id="alerts">
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
</div>
{% endif %} {% endwith %} 

{% if product %}
  <div id="result">
    <h3>Producto Encontrado y Registrado:</h3>
    <p><strong>Código:</strong> {{ product.code }}</p>
    <p><strong>Descripción:</strong> {{ product.description }}</p>
    <p><strong>Marca:</strong> {{ product.mark }}</p>
  </div>
{% endif %}

{% endblock %}
